*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1.2px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{background-color: rgb(202, 202, 202);}
.container{
    max-width: 1100px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(202, 202, 202);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.content{
    padding: 130px 30px;
}
.content h1{
    color: hsl(204.8, 53.2%, 40.2%);
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 500;
}
.timerDiv{
    display: flex;
    gap: 10px;
    margin: 20px 0px;
}
.timeDiv{
    width: 75px;
    height: 75px;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.timeDiv span:nth-of-type(1){
    font-size: 36px;
}
.timeDiv span:nth-of-type(2){
    font-size: 12px;
    color: hsl(204.8, 53.2%, 40.2%) ;
}
.btnDiv button{
    background: hsl(204.8, 53.2%, 40.2%);
    color: #fff;
    border: navajowhite;
    padding: 10px 20px;
    cursor: pointer;
}