*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1.2px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
}
.container{
    height: 100vh;
    background: #222;
    max-width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}
.part1{
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.part1::before{
    content: '';
    position: absolute;
    bottom: -60px;
    left: -40px;
    height: 140px;
    width: 200px;
    background-color: rgba(255,255,255,0.1);
    z-index: -1;
    border-radius: 50%;
}
.pad{
    max-width: 95%;
    margin: 0 auto;
}
a{
    color: #f0f0f0;
    text-transform: uppercase;
}
a:hover{
    color: #ffc700;
}
nav{
    background-color: rgba(255,255,255,0.1);
    height: 40px;
    border-radius: 7px;
}
nav ul{
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.content{
    padding: 90px 0;
}
h1{
    text-transform: uppercase;
    text-shadow: 0 3px 5px #000;
}
.text h1:nth-of-type(1){
    font-size: 90px;
    color: #fff;
}
.text h1:nth-of-type(2){
    font-size: 110px;
    color: #ffc700;
}
.text h1:nth-of-type(3){
    font-size: 50px;
    color: #fff;
}
.icons{
    color: #fff;
    display: grid;
    position: absolute;
    right: 0;
    bottom: 20px;
    gap: 15px;
}
.btn{
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: block;
    font-weight: bold;
    text-shadow: 0 3px 5px #000;
}
.btn a{
    color: #ffc700;
}
.part2{
    background-image: url(./images/food1.webp);
    background-size: cover;
    background-repeat: no-repeat; 
}
.fa{
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.fa:hover{
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    cursor: pointer;
}
.cursor{
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0.1);
    position: absolute;
    left: 0;
    border-radius: 50%;
    z-index: 10;

}

.part2:hover ~ .cursor{
    background: none;
    transform: scale(4);
    border: 1px solid #fff;
}
.part2:hover ~ .cursor:before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100px;
    height: 100px;
    background: rgba(51, 48, 48, 0.2);
    border-radius: 50%;
}
@media(max-width: 992px){
    .container{
        grid-template-columns: 100%;
    }
}