*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    overflow: hidden;
}
nav{
    height: 100vh;
    background: #333;
    display: none;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
ul li{
    margin: 30px 0px;
    background-color: rgba(255, 166, 0, 0.589);
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 34px;
    text-transform: uppercase;
    animation: navbar 0.2s linear backwards;
}
@keyframes navbar{
    0%{
        transform: translateY(-1200px);
    }
}
nav ul li:nth-child(1){
    animation-delay: .2s;
}
nav ul li:nth-child(2){
    animation-delay: .4s;
}
nav ul li:nth-child(3){
    animation-delay: .6s;
}
nav ul li:nth-child(4){
    animation-delay: .8s;
}
nav ul li:nth-child(5){
    animation-delay: 1s;
}
ul li a{
    color: #fff;
}
.fa-bars,.fa-times{
    font-size: 40px;
    color: rgba(255, 166, 0, 0.589);
    position: fixed;
    top: 20px;
    left: 50px;
    cursor: pointer;
    z-index: 9999999;
}
ul li:hover{
    background-color: #fff;
    cursor: pointer;
}
ul li:hover a{
    letter-spacing: 8px;
    color: #333;
}
/* section */
.container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 50%;
}
.animated{
    height: 100vh;
    width: 50vw;
    object-fit: contain;
}
.content{
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content div{
    width: 100%;
    padding: 0px 50px;
}
h1{
    font-size: 90px;
    text-transform: uppercase;
    color: rgb(195, 202, 235);
    font-weight: 100;
}
h1 span{
    font-weight: bold;
}
.content p{
    opacity: .6;
    padding-bottom: 20px;
}
.shopBtn{
    background:rgb(195, 202, 235);
    border: none;
    padding: 10px 50px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(5, 63, 38);
    font-size: 16px;
    cursor: pointer;
}
.shopBtn:hover{
    color: #fff;
    opacity: .8;
}
.socialIcons{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(195, 202, 235);
    color: rgb(5, 63, 38);
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.socialIcons:hover{
    color: #fff;
    opacity: .8;
    
}
.socialBtns{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 100px;
}
.fbBtn{
    left: 50px;
}
.twBtn{
    left: 100px;
}
.insBtn{
    left: 150px;
}
.pinBtn{
    left: 200px;
}
::selection{
    color: greenyellow;
}