*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif; 
    transition: all 0.2s linear;   
}
.container{
    position: relative;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    width: 100%;
}
ul{
    display: flex;
    gap: 20px;
}
.logo{
    font-size: 20px;
}
ul li a,.logo{
    color: #6200f0;
}
.video_container{
    height: 100vh;
}
video{
    display: none;
}
.vid1{
    display: block;
}
.dots{
    width: 20px;
    height: 20px;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    bottom: 5%;
    transform: translate(-50%);
    border-radius: 3px;
    transition: all 0.5s linear;
}
.dot1{
    left: 50%;
}
.dot2{
    left: 47%;
}
.dot3{
    left: 53%;
}
.dots:hover{
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;
}
ul li a:hover,.logo:hover{
    color: rgba(255,255,255,0.8);
    cursor: pointer;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s linear;
    text-shadow: 2px 5px 8px rgba(0,0,0,0.5);
    display: none;
}
.text1{
    display: block;
}
.text h1{
    font-size: 60px;
    color: rgba(12, 106, 248, 0.822);
}
.text h2{
    font-size: 40px;
    color: #fff
}
.text button{
    background-color: rgba(12, 106, 248, 0.822);
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s linear;
    text-transform: uppercase;
    margin: 20px 0;
}
